<div class="container reservations-new">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="reservations-new-nav">
        <h4 class="reservvations-new-check-content">
        予約内容確認
        </h4>
        <h5 class="price-icon">
          <%= @reservation.room.price %> / 日
        </h5>
        <div class="reservations-new-date-content">
          <%= form_with model:@reservation do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :room_id, value: @reservation.room.id %>
            <%= f.hidden_field :number_of_people, value: @reservation.number_of_people %>
            <%= f.label :start_date,"開始日" %>
            <%= f.text_field :start_date, :readonly => true, :class =>'form-control mb-4' %>
            <%= f.label :end_date,"終了日" %>
            <%= f.text_field :end_date, :readonly => true, :class =>'form-control mb-4' %>
            <h6 class="reservations-new-check-content">
            使用日数 : <%= @reservation.how_long %> 日
            </h6>
            <h6 class="reservations-new-check-content">
            人数 : <%= @reservation.number_of_people %>
            </h6>
            <h6 class="reservations-new-check-content-total">
            合計金額 : 
            <%= @reservation.total_amount %>円
            </h6>
            <p class="reservations-new-check-content">
            上記内容でよろしければ「予約を確定」を押してください
            </p>
            <%= f.submit "予約を確定", class:"btn btn-primary form-control" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
